@import url('theme.css');

.footer-wrap {
    padding-top: 2rem;
    padding-bottom: 2rem;
    padding-left: 4rem;
    padding-right: 4rem;
    height: 100%;
    display: flex;
    justify-content: space-between;
}

.f-left,
.f-right {
    display: flex;
    justify-content: center;
    align-items: center;
}

.f-right {
    text-align: end;
    width: 600px;
    max-width: 100%;
}

.formbox {
    background-color: var(--font-color1);
    padding: 2rem;
    border-radius: 10px;
}

.input-wrap {
    width: 400px;
    margin-bottom: 1rem;
}

select option {
    color: black;
}

@media (max-width: 1080px) {
    .footer-wrap{
        flex-direction: column-reverse;
        align-items: center;
    }
    .input-wrap {
        max-width: 300px;
        margin-bottom: 1rem;

    }
    .f-right{
        align-items: baseline;
        margin-top: 2rem;
        text-align: center;
        width: 100%;
    }
    .f-right p{
        display: none;
    }
    .f-left{
        font-size:small;
        color: var(--font-color2)!important;
    }
    .form-control{
        font-size:small;
    }
    .formbox{
        padding: 1rem;
    }
}
